* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #bac0d3;
  --color-secondary: #106864;
  --color-tietary: #c9f1ee;
  --color-white: #000;
  --color-black: #fff;
  --color-grey-0: #3e3d3d;
  --color-grey-1: #12181b;
  --color-grey-2: #2a2e35;
  --color-grey-3: #454e56;
  --color-grey-4: #6c7983;
  --color-grey-5: #b2becd;
  --color-grey-6: #dbe1e8;
  --color-mine: #d8d2d2;
  --image-background: rgba(74, 76, 78, 0.1);
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
  --box-shadow-2: 0 5px 15px rgba(0,0,0,.6);
}

.light-mode {
  --color-primary: #191d2b;
  --color-secondary: #106864;
  --color-tietary: #033a36;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-mine: #d8d2d2;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
  --box-shadow-2: 0 5px 15px rgba(0,0,0,.6);
  --image-background: rgba(72, 80, 87, 0.3);
}

body {
  background-color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--color-grey-2);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.logo-ctn {
  display: block;
  font-family: "Lobster Two", cursive;
  font-weight: 100;
  text-transform: capitalize;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-secondary);
  top: 2%;
  padding-left: 2rem;
  position: fixed;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;
  align-items: center;
  top: 60%;
  transform: translateY(-10%);
}
.social-container .social-main-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.social-container .social-main-container a {
  margin: 0.5rem 1rem;
  border: 0.1rem solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-grey-6);
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.social-container .social-main-container a:hover {
  opacity: 1;
  color: var(--color-grey-3);
  transform: rotateZ(360deg);
}
.social-container .social-main-container .empty-line {
  height: 20rem;
  width: 0.1rem;
  background-color: var(--color-secondary);
  display: block;
  left: 50%;
  top: 100%;
  transform: translateY(-2.5%);
  position: absolute;
  opacity: 0.7;
}

header {
  min-height: 100vh;
  color: var(--color-grey-2);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-black);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 2s ease-in-out;
          animation: scaleAnim 2s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--color-grey-5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
  position: relative;
  transition: all 0.4s ease-in-out;
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}
.controls .control::after {
  content: "";
  font-size: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #08b0a8;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.controls .control:hover {
  background-color: transparent !important;
}
.controls .control:hover i {
  opacity: 0;
}
.controls .control:hover:first-child::after {
  content: "HOME";
  opacity: 1;
}
.controls .control:hover:nth-child(2)::after {
  content: "ABOUT";
  opacity: 1;
}
.controls .control:hover:nth-child(3)::after {
  content: "PROJECTS";
  opacity: 1;
}
.controls .control:hover:nth-child(4)::after {
  content: "BLOG";
  opacity: 1;
}
.controls .control:hover:nth-child(5)::after {
  content: "CONTACT";
  opacity: 1;
}

.nav-bar {
  display: none;
  position: relative;
}
.nav-bar .menu-icon {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 2%;
  right: 3%;
  height: 2rem;
  width: 1.8rem;
  margin-top: 1rem;
  cursor: pointer;
}
.nav-bar .menu-icon .line {
  background-color: var(--color-secondary);
  width: 100%;
  height: 0.2rem;
  margin-bottom: 0.3rem;
}
.nav-bar .menu-icon .line1, .nav-bar .menu-icon .line3 {
  transition: all 0.4s;
}

.side-bar {
  display: none;
}

.sides {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  right: 3%;
  width: 80%;
  height: 60%;
  background-color: rgba(33, 40, 47, 0.9);
  z-index: 21;
}
.sides .active-section {
  color: var(--color-secondary) !important;
}
.sides .navigations {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}
.sides .navigations .navigation-item {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  color: var(--color-mine);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.sides .navigations .navigation-item::after {
  content: "";
  width: 1rem;
  height: 0rem;
  background-color: var(--color-secondary);
  position: absolute;
  right: -1.5rem;
  top: 0.5rem;
  transition: all 0.4s ease-in-out;
}
.sides .navigations .navigation-item::before {
  content: "";
  width: 1rem;
  height: 0rem;
  background-color: var(--color-secondary);
  position: absolute;
  left: -1.5rem;
  top: 0.5rem;
  transition: all 0.4s ease-in-out;
}
.sides .navigations .navigation-item:hover::after, .sides .navigations .navigation-item:hover::before {
  height: 1px;
}
.sides .social-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}
.sides .social-ctn .social-items {
  display: flex;
  flex-direction: column;
}
.sides .social-ctn .social-items a {
  margin: 0.5rem 1rem;
  border: 0.1rem solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-grey-6);
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.sides .social-ctn .social-items a:hover {
  opacity: 1;
  color: var(--color-grey-2);
  transform: rotateZ(360deg);
}

.activated {
  display: flex;
}

.display .line1 {
  transform: rotate(-405deg) translate(-0.3rem, 0.4rem);
}
.display .line2 {
  opacity: 0;
}
.display .line3 {
  transform: rotate(405deg) translate(-0.3rem, -0.4rem);
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 100%, 0 95%, 100% 100%);
          clip-path: polygon(0 100%, 0 95%, 100% 100%);
}
.header-content .left-header .image {
  border-radius: 50%;
  height: 65%;
  width: 70%;
  margin-left: 10rem;
  background-color: var(--image-background);
  transition: all 0.4s ease-in-out;
  padding: 2rem;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.4s ease-in-out;
  filter: grayscale(50%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0%);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 13rem;
}
.header-content .right-header .welcome-text {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Alegreya Sans", sans-serif;
}
.header-content .right-header .name {
  font-size: 2rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1rem 0;
  line-height: 2rem;
  font-size: 1rem;
}

.btn-ctn {
  display: flex;
  justify-content: flex-start;
}
.btn-ctn .contact-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 0.1rem solid var(--color-secondary);
  align-self: flex-start;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.btn-ctn .contact-btn .contact-text {
  padding: 0 1rem;
}
.btn-ctn .contact-btn .contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.4rem;
}
.btn-ctn .contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.btn-ctn .contact-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 0.1rem solid var(--color-secondary);
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.main-btn .btn-text {
  padding: 0 1rem;
}
.main-btn .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.4rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Alegreya Sans", sans-serif;
  text-shadow: 3px 2px 3px rgba(92, 104, 108, 0.6);
}
.main-title h2 span {
  color: var(--color-secondary);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 0.8px solid var(--color-grey-5);
  position: relative;
}
.about-container .main-about p {
  margin-bottom: 1rem;
}
.about-container .main-about p a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}
.about-container .main-about p a:hover {
  color: var(--color-secondary);
}
.about-container .main-about .conect-ctn {
  color: var(--color-secondary);
  font-family: "Lobster Two", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.bg-text {
  position: absolute;
  text-transform: uppercase;
  font-size: 6rem !important;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  color: var(--color-secondary);
  transition: all 4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 4.5rem;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 1.5rem;
}
.portfolios .portfolio-item .hover-item {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(18, 24, 27, 0.9);
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.portfolios .portfolio-item .hover-item h3 {
  font-size: 1.5rem;
  color: var(--color-mine);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-item .icons {
  background-color: var(--color-tietary);
  padding: 0.5rem;
  box-shadow: var(--box-shadow-2);
  border-radius: 0.4rem;
  font-size: 0.8rem;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item .icons a span {
  padding-right: 0.2rem;
}
.portfolios .portfolio-item .hover-item .icons:hover {
  background-color: #106864;
}
.portfolios .portfolio-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

.bloggs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: 3rem;
}
.bloggs .blog {
  position: relative;
  background-color: var(--color-grey-6);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
.bloggs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  transform: translate(-10px);
  transition: all 0.4s ease-in-out;
}
.bloggs .blog .img-ctn {
  width: 60%;
  height: 30rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.bloggs .blog .img-ctn img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  filter: grayscale(50%);
  transition: all 0.4s ease-in-out;
}
.bloggs .blog .img-ctn .date {
  display: flex;
  font-size: 0.8rem;
}
.bloggs .blog .img-ctn .date i {
  margin-right: 0.3rem;
  color: var(--color-grey-0);
}
.bloggs .blog .img-ctn:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}
.bloggs .blog .img-ctn:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
.bloggs .blog .blog-text {
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
}
.bloggs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.bloggs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}
.bloggs .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
}

.contact-content-ctn {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-ctn .left-contact {
  flex: 2;
}
.contact-content-ctn .left-contact h4 {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.contact-content-ctn .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.contact-content-ctn .left-contact .contact-info .contact-item .icon {
  font-weight: bolder;
}
.contact-content-ctn .left-contact .contact-info .contact-item .icon i {
  margin-right: 0.2rem;
}
.contact-content-ctn .left-contact .contact-info .contact-item .icon span {
  font-weight: 300;
  padding: 0 0.5rem;
}
.contact-content-ctn .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-ctn .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-ctn .right-contact .input-control input, .contact-content-ctn .right-contact .input-control textarea {
  border-radius: 1rem;
  font-weight: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color-grey-5);
  color: var(--color-grey-0);
  resize: none;
}
.contact-content-ctn .right-contact .your-details {
  display: flex;
}
.contact-content-ctn .right-contact .your-details :last-child {
  margin-left: 0.5rem;
}
.contact-content-ctn .right-contact .submit-btn {
  transition: all 0.4s ease-in-out;
  outline: none;
  border: 0.1rem solid var(--color-grey-3);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-family: inherit;
  font-weight: bold;
}
.contact-content-ctn .right-contact .submit-btn span {
  text-align: center;
}
.contact-content-ctn .right-contact .submit-btn:hover {
  background-color: var(--color-grey-2);
  color: var(--color-grey-5);
}

.theme-btn {
  bottom: 5%;
  right: 3%;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-grey-4);
  cursor: pointer;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translate(-3px);
}
.theme-btn i {
  font-size: 1rem;
  pointer-events: none;
  color: var(--color-grey-1);
}

@media screen and (max-width: 1280px) {
  .header .header-content .right-header {
    padding-right: 5%;
    padding-left: 10%;
  }
  .header .header-content .right-header .welcome-text {
    font-size: 4rem;
  }
  .header .header-content .right-header .name {
    font-size: 1.6rem;
  }
  .header .header-content .left-header .image {
    height: 50%;
    width: 60%;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-content-ctn {
    flex-direction: column-reverse;
    padding-bottom: 6rem;
  }
  .contact-content-ctn .right-contact {
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 100%;
  }
  .contact-content-ctn .right-contact .your-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-content-ctn .right-contact .your-details :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1145px) {
  .controls {
    display: none;
  }
  .social-container {
    display: none;
  }
  .nav-bar {
    display: flex;
  }
  section {
    padding: 2rem 6rem !important;
  }
  .btn-ctn {
    font-size: 0.8rem;
  }
  .header {
    padding: 2rem 2.5rem;
    width: 100%;
  }
  .header .header-content {
    width: 100%;
    grid-template-columns: 1fr;
    padding-top: 6rem;
  }
  .header .header-content .right-header {
    grid-row: 1;
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
    padding-top: 1rem;
  }
  .header .header-content .left-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .header .header-content .left-header .h-shape {
    display: none;
  }
  .header .header-content .left-header .image {
    height: auto;
    width: 60%;
    margin-left: 0;
  }
  .contact-content-ctn {
    margin: 0 8rem;
  }
}
@media screen and (max-width: 950px) {
  .bloggs {
    padding-bottom: 6rem;
  }
  .bloggs .blog .img-ctn {
    height: 25rem;
    width: 80%;
  }
  .bloggs .blog .img-ctn .date {
    font-size: 0.6rem;
  }
  .bloggs .blog .blog-text h4 {
    font-size: 1.2rem;
  }
  .bloggs .blog .blog-text p {
    font-size: 0.8rem;
    margin-right: 2rem;
  }
  .contact-content-ctn {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .logo-ctn {
    font-size: 1.8rem;
    padding-left: 0 !important;
    left: 1%;
  }
  header {
    padding: 0;
  }
  section {
    padding: 2rem 2rem !important;
  }
  .theme-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .sides .social-ctn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sides .social-ctn .social-items a {
    font-size: 0.6rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
  }
  .main-title {
    margin-top: 2rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .bg-text {
    font-size: 2rem !important;
  }
  .header {
    padding: 2rem 2rem;
  }
  .header .right-header {
    padding: 0rem 1rem !important;
  }
  .about-container .main-about p {
    font-size: 1rem;
  }
  .about-container .main-about .conect-ctn {
    font-size: 1.2rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios .portfolio-item {
    margin: 0 auto;
  }
  .portfolios .portfolio-item img {
    height: 15rem;
  }
  .bloggs .blog .img-ctn {
    height: 20rem;
  }
  .bloggs .blog .img-ctn img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .contact-content-ctn {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .main-title {
    margin-top: 2rem;
  }
  .main-title h2 {
    font-size: 1.8rem;
  }
  .bg-text {
    font-size: 2rem !important;
  }
  .header-content .right-header {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header-content .right-header .welcome-text {
    font-size: 3.5rem;
  }
  .header-content .right-header .name {
    font-size: 1.4rem;
  }
  .header-content .right-header p {
    font-size: 0.8rem;
  }
  .header-content .right-header .btn-ctn {
    font-size: 0.6rem;
  }
  .header-content .right-header .contact-btn .contact-text {
    padding: 0 0.4rem !important;
  }
  .header-content .right-header .main-btn .btn-text {
    padding: 0 0.4rem !important;
  }
  .header-content .left-header {
    padding-top: 0;
    margin-top: 0;
  }
  .about-container .main-about p {
    font-size: 0.8rem;
  }
  .about-container .main-about .conect-ctn {
    font-size: 1rem;
  }
  .bloggs .blog .img-ctn {
    height: 15rem;
  }
  .bloggs .blog .blog-text h4 {
    font-size: 1rem;
  }
  .contact-content-ctn .left-contact h4 {
    font-size: 1rem;
  }
  .contact-content-ctn .left-contact .contact-info {
    font-size: 0.8rem;
  }
  .contact-content-ctn .right-contact .input-control {
    margin: 1rem 0;
  }
  .contact-content-ctn .right-contact .input-control input, .contact-content-ctn .right-contact .input-control textarea {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
  }
  .contact-content-ctn .right-contact .your-details :last-child {
    margin-top: 1rem;
  }
  .contact-content-ctn .right-contact .submit-btn {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */